$grey: hsl(0, 0%, 69%);
$darkgrey: hsl(0, 0%, 47%);

@font-face {
    font-family: 'retrogramregular';
    src: url('../../font/web_font/retrogram_1.0.1-webfont.woff2') format('woff2'), url('../../font/web_font/retrogram_1.0.1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'retrogramregular';
}

img { // code used from https://stackoverflow.com/questions/14068103/disable-antialising-when-scaling-images
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: rgb(58, 166, 255);
}

.resizable {
    touch-action: none;
}


/* ---------------------------- DESKTOP CONTAINER --------------------------- */
.desktop-env {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.desktop-wallpaper {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

/* --------------------------------- TASKBAR -------------------------------- */
.taskbar {
    z-index: 100;
    position: absolute;
    display: flex;
    height: 65px;
    bottom: 0;
    width: 100vw;
}

.taskbar-background {
    position: absolute;
    display: flex;
    height: 65px;
    bottom: 0;
    width: 100vw;
}

.taskbar-icons {
    position: absolute;
    display: flex;
    gap: 5px;
    left: 10px;
    top: 10px;
    height: 45px;
}

.tasks-container {
    width: 100%;
}

.time {
    position: relative;
    img {
        height: 100%;
    }
    p {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.8rem;
    }
}

/* -------------------------------- SHORTCUTS ------------------------------- */
.desktop-shortcuts {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        // border: 2px dashed white;
    }
    img {
        width: 75px;
    }
    p {
        position: relative;
        font-size: 2rem;
        left: 2px;
    }
}

/* ---------------------------------- PAGES --------------------------------- */
.page {
    position: absolute;
    width: 300px;
    height: 400px;
    background: white;
    overflow: auto;
    padding: 10px;
    // border-top: 5px solid white;
    // border-left: 5px solid white;
    box-shadow: inset 0px -5px $darkgrey, inset -5px 0px $darkgrey;
    // border-right: 5px solid dimgray;
    // border-bottom: 5px solid dimgray;
    outline: 5px solid $grey;
    outline-offset: -10px;
}

.header {
    width: 100%;
    height: 30px;
    background-color: hsl(0, 0%, 69%);
}