$grey: hsl(0, 0%, 69%);
$darkgrey: hsl(0, 0%, 47%);

@font-face {
    font-family: 'retrogramregular';
    src: url('../../font/web_font/retrogram_1.0.1-webfont.woff2') format('woff2'), url('../../font/web_font/retrogram_1.0.1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'retrogramregular';
}

img { // code used from https://stackoverflow.com/questions/14068103/disable-antialising-when-scaling-images
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.unselectable { // code used from https://stackoverflow.com/questions/924916/is-there-a-way-to-make-a-div-unselectable/24831222#24831222
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: rgb(58, 166, 255);
}

.resizable {
    touch-action: none;
}

.hide {
    display: none !important;
}

/* ---------------------------- DESKTOP CONTAINER --------------------------- */
.desktop-env {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.desktop-wallpaper {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

/* --------------------------------- TASKBAR -------------------------------- */
.taskbar {
    z-index: 100;
    position: absolute;
    display: flex;
    height: 65px;
    bottom: 0;
    width: 100vw;
}

.taskbar-background {
    position: absolute;
    display: flex;
    height: 65px;
    bottom: 0;
    width: 100vw;
}

.taskbar-icons {
    position: absolute;
    display: flex;
    gap: 5px;
    left: 10px;
    top: 10px;
    height: 45px;
}
.time {
    position: relative;
    img {
        height: 100%;
    }
    p {
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2.5rem;
        color: rgb(20, 20, 20);
        filter: drop-shadow(0 5px 0 rgba(10, 10, 10, 0.15));
    }
}

.tasks-container {
    width: 100%;
    display: flex;
    gap: 5px;
}

.task {
    height: 100%;
    display: flex;
}

.start-container {
    background-color: red;
    position: absolute;
    display: flex;
    bottom: 55px;
    left: -10px;
    height: 55px;
    width: 205px;
}

/* -------------------------------- SHORTCUTS ------------------------------- */
.desktop-shortcuts {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        // border: 2px dashed white;
    }
    img {
        width: 75px;
    }
    p {
        position: relative;
        font-size: 2.5rem;
        left: 2px;
        color: rgb(20, 20, 20);
        filter: drop-shadow(0 5px 0 rgba(10, 10, 10, 0.15));
    }
}

/* ---------------------------------- PAGES --------------------------------- */
.page {
    position: absolute;
    min-width: 500px !important;
    min-height: 600px !important;
    max-width: 100vw !important;
    max-height: calc(100vh - 65px) !important;
    background: white;
    overflow: auto;
    padding: 10px;
    box-shadow: inset 0px -5px $darkgrey, inset -5px 0px $darkgrey;
    outline: 5px solid $grey;
    outline-offset: -10px;
    top: 150px;
    left: 300px;
    color: rgb(20, 20, 20)
}

.page-header {
    width: 100%;
    height: 30px;
    background-color: hsl(0, 0%, 69%);
    display: flex;
    justify-content: right;
    gap: 10px;
    border-bottom: 5px solid hsl(0, 0%, 69%);
    p {
        font-size: 2.5rem;
        transform: translateY(-5px);
        width: 100%;
    }
}

/* --------------------------------- PROFILE -------------------------------- */
.profile-content {
    padding: 10px;
}

.profile-header {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    img {
        height: 45px;
        width: 45px;
    }
    .options {
        margin-left: auto;
    }
    .profile-name {
        padding: 5px;
        padding-left: 10px;
        height: 45px;
        font-size: 2.5rem;
        top: 50%;
        box-shadow: inset 0px -5px $darkgrey, inset -5px 0px $darkgrey, inset 5px 0px white, inset 0px 5px white;
        background-color: hsl(0%, 0%, 80%);
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.profile-bio {   
    width: 100%;
    padding: 10px;
    margin: 10px 0; 
    box-shadow: inset 0px -5px $darkgrey, inset -5px 0px $darkgrey, inset 5px 0px white, inset 0px 5px white;
    background-color: hsl(0%, 0%, 80%);
    font-size: 2rem;
}

.post {
    padding: 10px;
    margin: 10px 0;
    box-shadow: inset 0px -5px $darkgrey, inset -5px 0px $darkgrey, inset 5px 0px white, inset 0px 5px white;
    background-color: hsl(0%, 0%, 80%);
    .text {
        font-size: 1.5rem;
    }
    .data {
        font-size: 1rem; 
        color: rgb(75, 75, 75);
    }
}

/* -------------------------------- EDIT BOX -------------------------------- */
.edit-profile {
    height: auto;
    min-height: auto !important;
    min-width: 350px !important;
    max-width: 350px !important;
    p, textarea, button {
        padding: 0 5px;
    }
    * {
        font-size: 2.5rem;
        color: rgb(20, 20, 20);
    }
    #edit-profile-name {
        resize: none;
        width: 16ch;
        border: 5px solid $darkgrey;
        margin: 0 5px;

    }
    #edit-profile-bio {
        resize: none;
        width: calc(100% - 10px);
        border: 5px solid $darkgrey;
        margin: 0 5px;
    }
    #submit-profile-edit {
        padding: 10px;
        padding-right: 5px;
        margin: 5px;
        border: none;
        box-shadow: inset 0px -5px $darkgrey, inset -5px 0px $darkgrey, inset 5px 0px white, inset 0px 5px white;
        background-color: hsl(0%, 0%, 80%);
    }
}

/* ---------------------------------- MISC ---------------------------------- */